
<!DOCTYPE html>
{% include 'navbar.html' %}
<br>
<html lang="en">
<head>
    
    <title>{{title}}</title>
</head>
<body>

    {{title}}
    <br>
    <br>
    <table class="table" >
        <thead>
            <tr>
                <th>COUNT</th>
                <th>DATE</th>
                <th>CUSTOMER NAME</th>
                <th>INVOICE NUMBER</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
    {% for instance in queryset %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.invoice_date}}</td>
        <td>{{instance.name}}</td>
        <td>{{instance.invoice_number}}</td>
        <td>{{instance.line_one_total_price}}</td>
    </tr>
    
    {% endfor %}
</table>
    
</body>
</html>